
{% block head_extra %}
<style>

  /* Remove default bullets */
  ul {
     list-style-type: none;
     margin:0;
  }

  #archive_container > ul, #archive {
    margin: 0;
    padding: 0;
  }

  .caret { cursor: pointer; }

  /* Create the caret/arrow with a unicode, and style it */
  .caret::before {
   content: "\25B6";
   display: inline-block;
  }

  /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
  .caret-down::before { transform: rotate(90deg); }

  .nested { display: none; }

  /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
  .active { display: block; }

</style>
{% endblock %}

{% block content %}
<div id="archive_container">

  {% if archive %}
  <!-- archive template. rendered using JS -->
  <ul>
    <li><span class="caret"><b>Archive</b></span>
      <ul id="archive" class="nested"></ul>
    </li>
  </ul>

  <!-- archive year tab template. rendered using JS -->
  <li style="display:none;" class="year">
    <span class="caret">0000</span>
    <ul class="nested"></ul>
  </li>

  <!-- archive month tab template. rendered using JS -->
  <li style="display:none;" class="month">
    <span class="caret">MONTH_NAME</span>
    <ul class="nested"></ul>
  </li>

  {% endif %}

</div>
{% endblock %}

{% block script_extra %}
<script type="text/javascript">

  const monthNames = ["January", "February", "March", "April", "May", "June",
    "July", "August", "September", "October", "November", "December"
  ];

  let archive = JSON.parse('{{archive}}'.replace(/&quot;/g, '"'));
  console.log(archive);
  for (year in archive)
  {
    let year_node = $( ".year" ).clone();
    year_node.attr("id", "year_"+year).css("display","block").removeClass("year");
    $("#archive").append(year_node);
    $('#year_'+year + " > span.caret").first().text(year);
    $('span#year_'+year).css('display','none');

    for (month in archive[year])
    {
      let month_node = $( ".month" ).clone();
      month_node.attr("id", "month_"+month).css("display","block").removeClass("month");
      $("#year_"+year + " > ul.nested").append(month_node);

      $('#month_'+month +" > span.caret").text(monthNames[month-1]);
      $('span#month_'+month).css('display','none');
      // for posts in month
      for (let post = 0; post < archive[year][month].length; post++ )
      {
        let title = archive[year][month][post]["title"];
        let slug = archive[year][month][post]["slug"];
        let link = `<a href="entry/${slug}">- ${title}</a>`;

        $("#year_"+year+" #month_"+month+" ul").append("<li>"+link+"</li>");
      }
    }
  }

  let toggler = document.getElementsByClassName("caret");
  for (let i = 0; i < toggler.length; i++) {
    toggler[i].addEventListener("click", function() {
      this.parentElement.querySelector(".nested").classList.toggle("active");
      this.classList.toggle("caret-down");
    });
  }

</script>
{% endblock %}
