/* mobile first */

body {
    display: grid;
    grid-template-columns: repeat(12, minmax(0,1fr));
    grid-gap: 10px;
    margin: 0 auto;
    padding: 0 auto;
}

header {
  grid-column: 1 / 13;
  grid-row: 1;
}

navbar {
    grid-column: 1 / 13;
    grid-row: 2;
}

article {
    /* 10 cols on mobile */
    grid-column: 2 / 12;
    grid-row: 3;
}

#aside {
    grid-column: 10 / 12;
    grid-row: 3;
}

#aside, #inner-aside { display: none; }


/* desktop view */
@media screen and (min-width: 1000px) {

  article { grid-column: 2 / 10; }
  #aside, #inner-aside { display: block; }

}
