* {
  box-sizing: border-box;
  font: 14px/16px sans-serif
  font-family: 'Montserrat';
}

a {
  color: #2a2a2b;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  text-decoration: underline;
  font-weight: bold;
}

.main-container {

}

.header {
  font-size:2.0em !important;
}

.navbar {
  overflow: hidden;
  padding-left:9%;
  padding-right:9%;
  z-index: +1;
}

.nav-menu {
  display: block;
  text-align: center;
  padding: 10px 10px;
}

.content {
}

.aside {
  position: relative;
  right: 0;
}

.fixed-top {
  position: fixed;
  top: 0;
  width: 100%;
}

.inner-aside {
  position: sticky;
  top: 150px;
  left: 0px;
  margin: 10px;
}

.birds_bkg {
  background-image: url('http://cdn.backgroundhost.com/backgrounds/subtlepatterns/foggy_birds.png');
  background-repeat: repeat;
}

.brillant_bkg {
  background-image: url('http://cdn.backgroundhost.com/backgrounds/subtlepatterns/brillant.png');
  background-repeat: repeat;
}

.left { float: left; }
.right { float: right; }
.text-center { text-align: center; }
.padded { padding: 10px; }

.active-tab {
  font-weight: 900;
  color: black;
}
