
​{% extends "blog/template.html" %}

{% block head_extra %}
<style>
  #content {
    grid-column: 2 / 12;
    grid-row: 3;
  }
  .img {
    float:left;
    max-width:200px;
  }
  .text {
    text-align:left;
    text-justify:inter-word;
  }
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
</style>
{% endblock %}

{% block content %}
<div class="padded clearfix brillant_bkg">
  <br><br>
  <figure class="img text-center">
    <img src="/static/blog/images/about_pic.png" alt="profile_picture" width="100%">
    <figcaption class="center"><small>Crane Hill Disc Golf Course</small></figcaption>
  </figure>

  <p class="text">
    Hi, Welcome to my blog! My name is Dinara (aka Dina) Sagitova.
    I am a software developer passionate about web and database technology.

    <br><br>
    Before I became a software developer, I studied Biochemistry at
    <a href="https://www.umbc.edu/" target="_blank">UMBC</a>.

    I fell in love with programming while working at a bioinformatics lab
    (<a href="https://erilllab.umbc.edu/" target="_blank">Erill Lab</a>)
    as a project coordinator and a database curator.

    This newfound passion inspired me to earn a degree in Computer Science (BS).

    <br><br>

    Since then I also worked as a software developer at a financial firm developing a
    loan origination platform and at the Research Information Technology Systems (RITS)
    center at Johns Hopkins University.

    <br><br>

    This is a personal blog to write about software development,
    and occasionally, about fun things I do in life, in general.

  </p>

</div>
{% endblock %}
