
​{% extends "blog/template.html" %}

{% load static %}
{% load markup_tags %}

{% block head_extra %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/css/index.css' %}">

<style>
  #content {
    grid-column: 2 / 12;
    grid-row: 3;
  }
</style>
{% endblock %}

{% block content %}
<div class="entry padded">

  {% if entry %}
    <h2>{{ entry.title }}</h2>
    <h5>{{ entry.created }}</h5>
    <p>{{ entry.body|apply_markup:entry.markup }}</p>
    <br><br><br>

  {% else %}
    <h2>Error: could not get this blog entry</h2>
  {% endif %}

</div>
{% endblock %}
