​{% extends "blog/template.html" %}

{% load static %}
{% load markup_tags %}

{% block content %}

  {% for entry in blog_list %}
  <div class="entry padded brillant_bkg">
    <h4>{{entry.title|upper}}</h4>
    <p><small>{{entry.pub_month}}/{{entry.pub_day}}/{{entry.pub_year}}</small></p>
    <p><small><a href="entry/{{entry.slug}}#disqus_thread"></a></small></p>

    <p>{{ entry.body|apply_markup:entry.markup|truncatechars:500 }}</p>

    <p class="right"><a href="entry/{{entry.slug}}">CONTINUE READING...</a></p>
    <br><br>

  </div>
  {% endfor %}

{% endblock %}

{% block aside %}
<aside id="aside" class="aside">
  <div id="inner-aside" class="inner-aside padded">

    <hr>

    <div id="social_media" class="text-center">
      <p>connect with me on</p>
      <a href="https://twitter.com/bmorreliving" target="_blank">
        <i class="fab fa-twitter-square fa-3x">
        </i>
      </a>
      <a href="https://github.com/bmorrekyz" target="_blank">
        <i class="fab fa-github-square fa-3x"></i>
      </a>
    </div>

    <hr>
    {% include "./archive/archive.html" %}
    <hr>
  </div>
</aside>
{% endblock %}
