
​{% extends "blog/template.html" %}

{% block head_extra %}
<style>
  #content {
    grid-column: 3 / 11;
    grid-row: 3;
    background-image: none !important;
  }
</style>
{% endblock %}

{% block content %}
<div class="text-center">
  <br><br><br>
  <form action="{% url 'login_submit' %}" method="post">
    {% csrf_token %}
    <input type="text" placeholder="Username" name="username" maxlength="20" required>
    <input type="text" placeholder="Password" name="password" maxlength="20" required>
    <br><br>
    <button type="submit">Login</button>
  </form>

</div>
{% endblock %}
