{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{% static 'blog/css/template_layout.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'blog/css/template_style.css' %}">


	<script
				  src="https://code.jquery.com/jquery-3.3.1.min.js"
				  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
				  crossorigin="anonymous"></script>

	{% block head_extra %}{% endblock %}
</head>

<body class="main_bk">

	<header class="header main_bk">
		<h2>yet another programming blog</h2>
	</header>

	<navbar id="navbar" class="navbar main_bk">
		{% if userIsLoggedIn %}
			<a href="{% url 'dashboard' %}" id="menu_dashboard" class="nav-menu left">dashboard</a>
			<a href="{% url 'logout' %}" id="menu_logout" class="nav-menu right">logout</a>
		{% else %}
			<a href="{% url 'login' %}" id="menu_login" class="nav-menu right">login</a>
		{% endif %}

		<a href="{% url 'index' %}" id="menu_" class="nav-menu left">blog</a>
		<!-- <a href="{% url 'archive' %}" id="menu_archive" class="nav-menu left">archive</a> -->
		<a href="{% url 'about' %}" id="menu_about" class="nav-menu left">about</a>

		{% block navbar %}{% endblock %}
	</navbar>


	<article id="content" class="content ">
	  {% block content %}{% endblock %}
	</article>

	{% block aside %}{% endblock %}

<script>

$(document).ready(function() {

  // hide navbar onscroll
  const offsetTop = $('#navbar')['0']['offsetTop'];
  window.onscroll = () => {
    let el = $('#navbar');
    (window.pageYOffset >= offsetTop) ? el.addClass("fixed-top") : el.removeClass("fixed-top");
  };

	setActiveTab();
});

// highlight menu for the current page
function setActiveTab() {

	let curr_page = location.pathname.split('/')[2];
	if (curr_page !== undefined) {
			curr_page = (curr_page == "entry") ? "" : curr_page;
			$('#menu_'+curr_page).addClass("active-tab");
	}
}

</script>

{% block script_extra %}{% endblock %}

<script id="dsq-count-scr" src="//dinarasagitova.disqus.com/count.js" async></script>

</body>
</html>
