
​{% extends "blog/template.html" %}

{% block head_extra %}
<style>
  #content {
    /* overwritten grid for aesthetic pleasure */
    grid-column: 2 / 12;
    grid-row: 5;
  }
</style>
{% endblock %}

{% block navbar %}
    <a href="{% url 'index' %}" id="menu_" class="nav-menu left">Blog</a>
    <a href="{% url 'about' %}" id="menu_about" class="nav-menu left">About</a>
    <a href="{% url 'login' %}" id="menu_login" class="nav-menu right">Login</a>
{% endblock %}

{% block content %}
  <h1>{{year}} Yearly Archive</h1>

  {% if posts_by_year %}
    {% for post in posts_by_year %}
      <p>
        <a href="{{post.slug}}"> {{post.title}} </a>
      </p>
    {% endfor %}
  {% endif %}
{% endblock %}
