
​{% extends "blog/template.html" %}

{% block head_extra %}
<style>
  #content {
    grid-column: 2 / 12;
    grid-row: 3;
  }
</style>
{% endblock %}

{% block content %}
<div class="text-center">

  <!-- TO DO: make year fetching dynamic!! don't hard code! -->
  {% for year in archive_info %}

    <h3>
      <a href="archive/{{2019}}">2019</a>
    </h3>
    {% for month in year.2019 %}
    <p style="padding-left:10px">
      <a href="/blog/archive/2019/{{month}}">{{month}}</a>
    </p>
    {% endfor %}

    <h3>
      <a href="archive/{{2018}}">2018</a>
    </h3>
    {% for month in year.2018 %}
      <p style="padding-left:10px">
        <a href="/blog/archive/2018/{{month}}">{{month}}</a>
      </p>
    {% endfor %}

  {% endfor %}
</div>
{% endblock %}
